<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../fontawesome-free-6.4.0-web/css/all.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <div class="container">
        <div class="top-bar">
            <div class="top-bar-left">
                <div class="address">
                    <h1><b>JIN Store: Uy tín trong từng sản phẩm |</b></h1>
                </div>
                <div class="hotline">
                    <span>Hotline:</span>
                    <i class="fa-solid fa-phone fa-xs" style="color: #ffffff;"></i>
                    <span>0936 096 900</span>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="info">
                    <ul>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="user-info">
                    <!-- <i class="fa-solid fa-user" style="color: #ffffff;"></i> -->
                    <button class="btn-login" type="submit"><a href="">Đăng nhập</a></button>
                </div>
            </div>
        </div>
        <header class="header-home-page">
            <div class="container-header">
                <div class="logo">
                    <a href="">
                        <img src="image/JIn Store 1.png" alt="">
                    </a>
                </div>
                <div class="menu-nav">
                    <ul>
                        <li><a class="hover-nav" href="">MACBOOK</a>
                            <ul class="macbook-nav">
                                <li><a href="#">Macbook M1</a></li>
                                <li><a href="#">Macbook M2</a></li>
                                <li><a href="#">Macbook Air</a></li>
                                <li><a href="#">Macbook Pro</a></li>
                            </ul>
                        </li>
                        <li><a class="hover-nav" href="">IMAC</a>
                            <ul class="imac-nav">
                                <li><a href="#">iMac M1</a></li>
                                <li><a href="#">Mac mini</a></li>
                                <li><a href="#">Mac Studio</a></li>
                            </ul>
                        </li>
                        <li><a class="hover-nav" href="">IPHONE</a>
                            <ul class="iphone-nav">
                                <li><a href="#">iPhone 14 Series</a></li>
                                <li><a href="#">iPhone 13 Series</a></li>
                                <li><a href="#">iPhone 12 Series</a></li>
                                <li><a href="#">iPhone 11 Series</a></li>
                            </ul>
                        </li>
                        <li><a class="hover-nav" href="">IPAD</a>
                            <ul class="ipad-nav">
                                <li><a href="#">iPad Air</a></li>
                                <li><a href="#">iPad Pro</a></li>
                                <li><a href="#">iPad Mini</a></li>
                            </ul>
                        </li>
                        <li><a class="hover-nav" href="">APPLE WATCH</a>
                            <ul class="watch-nav">
                                <li><a href="#">Apple Watch Ultra</a></li>
                                <li><a href="#">Apple Watch Series 8</a></li>
                                <li><a href="#">Apple Watch SE</a></li>
                            </ul>
                        </li>
                        <li><a class="hover-nav" href="">PHỤ KIỆN</a>
                            <ul class="diffirent-nav">
                                <li><a href="#">Phụ Kiện Macbook</a></li>
                                <li><a href="#">Phụ Kiện Iphone</a></li>
                                <li><a href="#">Phụ Kiện iPad</a></li>
                                <li><a href="#">AirPods</a></li>
                                <li><a href="#">Phụ Kiện Khác</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search-form">
                    <form action="">
                        <input class="input-search" placeholder="    Tìm kiếm sản phẩm ..." type="text">

                        <button class="btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                        </button>
                    </form>
                </div>
            </div>
        </header>

        <section class="main-body">
            <div class="banner">

                <div class="slide active">
                    <a href=""><img src="image/Banner_4.png" alt=""></a>
                </div>
                <div class="slide active">
                    <a href=""><img src="image/Banner_6.jpeg" alt=""></a>
                </div>
                <div class="slide active">
                    <a href=""><img src="image/Banner_7.jpeg" alt=""></a>
                </div>
                <div class="slide active">
                    <a href=""><img src="image/Banner_8.jpeg" alt=""></a>
                </div>
            </div>
            <main>
                <section class="main">
                    <div class="title-container">
                        <div class="line"></div>
                        <h1 class="title-main">SẢN PHẨM NỔI BẬT</h1>
                        <div class="line"></div>
                    </div>

                    <div class="product-container">
                        <div class="row-product">
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>

                        </div>
                    </div>






                    <!-- -------------------------------- -->








                    <div class="title-container">
                        <div class="line"></div>
                        <h1 class="title-main">SẢN PHẨM NỔI BẬT</h1>
                        <div class="line"></div>
                    </div>

                    <div class="product-container">
                        <div class="row-product">
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>

                        </div>
                    </div>



                    <!-- --------------------------------- -->










                    <div class="title-container">
                        <div class="line"></div>
                        <h1 class="title-main">SẢN PHẨM NỔI BẬT</h1>
                        <div class="line"></div>
                    </div>

                    <div class="product-container">
                        <div class="row-product">
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>

                        </div>
                    </div>
                    <!-- -------------------------------- -->












                    <div class="title-container">
                        <div class="line"></div>
                        <h1 class="title-main">SẢN PHẨM NỔI BẬT</h1>
                        <div class="line"></div>
                    </div>

                    <div class="product-container">
                        <div class="row-product">
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>

                        </div>
                    </div>
                    <!-- --------------------------------    -->













                    <div class="title-container">
                        <div class="line"></div>
                        <h1 class="title-main">SẢN PHẨM NỔI BẬT</h1>
                        <div class="line"></div>
                    </div>

                    <div class="product-container">
                        <div class="row-product">
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>
                            <div class="product">
                                <span class="discount">Giảm 15%</span>
                                <div class="img-product">
                                    <a href=""><img src="image/Macbook.jpeg" alt=""></a>
                                </div>
                                <div class="price-product">
                                    <s class="price-old">26,000,000<p>VNĐ</p>
                                    </s>

                                    <div class="price-new">26,000,000
                                        <p>VNĐ</p>
                                    </div>
                                </div>
                                <h4><a href="">MacBook Air M2 2022 (8GB/256GB)</a></h4>
                            </div>

                        </div>
                    </div>
                </section>


                <section class="benefit">
                    <div class="row-benefit">
                        <img src="image/icon_benefit_1.png" alt="">
                        <div class="content-benefit">
                            <h4>Mua hàng siêu tiết kiệm</h4>
                            <p>Các sản phẩm luôn được bán với giá ưu đã nhất cho khách hàng</p>
                        </div>
                    </div>
                    <div class="row-benefit">
                        <img src="image/icon_benefit_2.png" alt="">
                        <div class="content-benefit">
                            <h4>Chất lượng tuyệt đối 100%</h4>
                            <p>Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ ...</p>
                        </div>
                    </div>
                    <div class="row-benefit">
                        <img src="image/icon_benefit_3.png" alt="">
                        <div class="content-benefit">

                            <h4>Khuyến mại cực lớn</h4>
                            <p>Được hưởng ưu đãi và các chương trình khuyến mại cực lớn</p>
                        </div>
                    </div>
                    <div class="row-benefit">
                        <img src="image/icon_benefit_4.png" alt="">
                        <div class="content-benefit">
                            <h4>Thanh toán dễ dàng</h4>
                            <p>Phương thức thanh toán dễ dàng và cực kì tiện lợi</p>
                        </div>
                    </div>
                </section>
            </main>
        </section>

        <footer>
            <div class="main-footer"></div>
            <div class="main-footer">
                <h4>JIN STORE</h4>
                <div class="content-footer">
                    <p>Địa chỉ: 325 Nguyễn Khang, P. Yên Hòa, Q.Cầu Giấy, Tp. Hà Nội</p>
                    <p>Hotline bán hàng : 0985 906 005</p>
                    <p>Giờ làm việc : 8h30 - 21h ( kể cả T7 CN)</p>
                    <p>Hotline bảo hành : 0985 906 005</p>
                    <p><a href="">Website: http://maconline.vn</a></p>
                </div>
            </div>
            <div class="main-footer">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <div class="content-footer">
                    <p>Điều khoản dịch vụ</p>
                    <p>Hướng dẫn mua online</p>
                    <p>Hướng dẫn thanh toán</p>
                </div>
            </div>
            <div class="main-footer">
                <h4>CHÍNH SÁCH CỬA HÀNG</h4>
                <div class="content-footer">
                    <p>Chính sách bảo mật</p>
                    <p>Chính sách vận chuyển</p>
                    <p>Chính sách đổi trả</p>
                    <p>Chính sách bảo hành</p>
                </div>
            </div>
            <div class="main-footer">
                <h4>FANPAGE FACEBOOK</h4>
                <div class="content-footer">
                    <p><a href="">Facebook: https://www.facebook.com/huyV81</a></p>
                    <p><a href="">Instagram: https://www.instagram.com/_iamnothuy_/</a></p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.835352125635!2d105.72923707541824!3d21.039272987417093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345550b525aa03%3A0x3fdefc40f69a023a!2zQ2FvIMSR4bqzbmcgRlBUIFBo4buRIFRy4buLbmggVsSDbiBCw7QgLCBQaMaw4budbmcgUGjGsMahbmcgQ2FuaCAsIHF14bqtbiBU4burIExpw6pt!5e0!3m2!1svi!2s!4v1694691314711!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="main-footer"></div>
        </footer>

    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="main.js"></script>
</body>




</html>